#include <windows.h>
#include <commctrl.h>
#include "WaveDefines.h"

IDD_1DWAVEDIALOG DIALOG 270, 37, 190, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add New 1-D Wave Source"
FONT 10, "Arial"
BEGIN
    DEFPUSHBUTTON   "SAVE", 2, 600, 130, 50, 14
END




IDD_2DWAVEDIALOG DIALOG 255, 20, 190, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add New 2-D Wave Source"
FONT 10, "Arial"
BEGIN
    DEFPUSHBUTTON   "SAVE", 2, 600, 130, 50, 14
END